body {
	background: #1a3636;
	height: 100vh;
  display: flex;
  justify-content: center;
	align-items: center;
	margin-top: -20px;
}

#game {
  display: flex;
  flex-direction: column;
	align-items: center;
  width: 400px;
	padding-bottom: 50px;
	border-radius: 50px;
	background: #40534c;
	box-shadow: 10px 10px black;
}

.header {
  display: grid;
  text-align: center;
	align-items: center;
  font-size: 16px;
	font-family: monospace;
  padding: 10px;
	color: #d6bd96;
  gap: 10px;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
      "player1score player2score"
      "player1name player2name";
}

.player1score { grid-area: player1score; }
.player1name  { grid-area: player1name;  }

.player2score { grid-area: player2score; }
.player2name  { grid-area: player2name;  }

.player1name,
.player2name {
	margin: 10px;
}

button.show-options {
	background: #bec6a0;
	border: 1px solid #1a3637;
}
button.show-options:hover {
	background: #fef3e2;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "aa ab ac"
    "ba bb bc"
    "ca cb cc";
	
}

.board > #square {
  text-align: center;
  background: white;
  border: thick double #1a3636;
  width: 100px;
  height: 100px;

	background: #bec6a0;

  font-family: "Noto Emoji", sans-serif;
  font-optical-sizing: auto;
	color: #1a3636;
  font-weight: 300; 
  font-style: normal;


  align-content: center;
  font-size: 4rem;
}
#square:hover {
  background: #fef3e2;
  cursor: pointer;
}

#square.aa { grid-area: aa; }
#square.ab { grid-area: ab; }
#square.ac { grid-area: ac; }

#square.ba { grid-area: ba; }
#square.bb { grid-area: bb; }
#square.bc { grid-area: bc; }

#square.ca { grid-area: ca; }
#square.cb { grid-area: cb; }
#square.cc { grid-area: cc; }

.result {
	border: 1px solid black;
	border-radius: 20px;
	background: #ff7e75;
	padding: 20px;
	display: grid;
	font-size: 2rem;
}
.result button {
	font-size: 1.2rem;	
	margin: 5px;
	background: #f02f22;
	color: #ccc;
	border: 1px solid black;
}
.result button:hover {
	background: #cf4238;
}
